@model Models.SkiResort

@{
    ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1>
<hr />
<div>
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terrain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terrain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
    </dl>
</div>
<div class="d-flex flex-wrap">
    @foreach (var item in Model.Forecasts)
    {
        <div class="col-md-6">
            <div class="card flex-md-row  box-shadow ">
                <div class="card-body  align-items-start">
                    <strong class="d-inline-block mb-2 text-success">@Html.DisplayFor(i => item.Name)</strong>
                    <p>
                        @Html.DisplayFor(i => item.StartTime)
                        <br />
                        @Html.DisplayFor(i => item.Temperature)
                        @Html.DisplayFor(i => item.TemperatureUnit)
                        <br />
                        @Html.DisplayFor(i => item.DetailedForecast)
                    </p>
                </div>
                <img class=" img-thumbnail" height="100" src="@Html.DisplayFor(i => item.Icon)" alt="Card image cap">
            </div>
        </div>
    }
</div>

