@model Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="card">
    <h4 class="card-header">Product</h4>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdCategory)
        </dd>
    </dl>
</div>
<div class="card">
    <h3 class="card-header">Inventory</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Store Name</th>
                <th>Quantity</th>
            </tr>
        </thead>
        @functions
        {
            int totalQuantity = 0;
        }
        @foreach (var item in Model.Inventories)
        {
            totalQuantity += item.Quantity;
            <tr>
                <td>@Html.DisplayFor(i => item.StoreNumberNavigation.StoreName)</td>
                <td>@Html.DisplayFor(i => item.Quantity)</td>
                <td>Edit inventory</td>
            </tr>
        }
        <tr>
            <td>Total Quantity</td>
            <td class="">@totalQuantity</td>
        </tr>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ProdId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
