@model Models.Storefront

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="card">
    <h4 class="card-header">Storefront</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoreName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoreAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoreAddress)
        </dd>
    </dl>
</div>
<div class="card">
    <h3 class="card-header">Inventory</h3>
    <table class="table table-striped">
        <caption>Store Details</caption>
        <thead>
            <tr>
                <th scope="col">Product</td>
                <th scope="col">Price</td>
                <th scope="col">Description</td>
                <th scope="col">Category</td>
                <th scope="col">Quantity</td>
            </tr>
        </thead>
        @foreach (var item in Model.Inventories)
        {
            <tr>
                <td>@Html.DisplayFor(i => item.Prod.ProdName)</td>
                <td>@Html.DisplayFor(i => item.Prod.ProdPrice)</td>
                <td>@Html.DisplayFor(i => item.Prod.ProdDescription)</td>
                <td>@Html.DisplayFor(i => item.Prod.ProdCategory)</td>
                <td>@Html.DisplayFor(i => item.Quantity)</td>
            </tr>
        }
    </table>
</div>
<div class="card">
    <h3 class="card-header">Orders</h3>
    <table class="table table-striped">
        <caption>Store Orders</caption>
        <thead>
            <tr>
                <th scope="col">Order Number</td>
                <th scope="col">Total Price</td>
            </tr>
        </thead>
        @foreach (var item in Model.SOrders)
        {
            <tr>
                <td>@Html.DisplayFor(i => item.OrderId)</td>
                <td>@Html.DisplayFor(i => item.TotalPrice)</td>
            </tr>
        }
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StoreNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
