@model Models.Storefront

@{
    ViewData["Title"] = "Details";
}


<h1>Details</h1>

<div class="card">
    <h4 class="card-header">Storefront</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StoreName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StoreAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StoreAddress)
        </dd>
    </dl>
</div>
<div class="card">
    <h3 class="card-header">Inventory</h3>
    <table class="table table-striped">
        <caption>Store Details</caption>
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        @foreach (var item in Model.Inventories)
        {
            <tr>
                <td>@Html.DisplayFor(i => item.Prod.ProdName)</td>
                <td>@Html.DisplayFor(i => item.Prod.ProdPrice)</td>
                <td>@Html.DisplayFor(i => item.Prod.ProdDescription)</td>
                <td>@Html.DisplayFor(i => item.Prod.ProdCategory)</td>
                <td>@Html.DisplayFor(i => item.Quantity)</td>
            </tr>
        }
    </table>
</div>
<div class="card">
<h3 class="card-header">Orders</h3>
<table class="table table-striped">
    <caption>Store Orders</caption>
    <thead>
        <tr>
            <th scope="col">
                Date
                <form>
                    <input type="hidden" id="orderSort" name="orderSort" value="asc" />
                    <button type="submit" class="btn btn-primary">Asc</button>
                </form>
                <form>
                    <input type="hidden" id="orderSort" name="orderSort" value="desc"/>
                    <button type="submit" class="btn btn-primary">Desc</button>
                </form>
            </th>
            <th scope="col">Order Number</th>
            <th scope="col">
                Total Price
                <form>
                    <input type="hidden" id="priceSort" name="priceSort" value="asc" />
                    <button type="submit" class="btn btn-primary">Asc</button>
                </form>
                <form>
                    <input type="hidden" id="priceSort" name="priceSort" value="desc" />
                    <button type="submit" class="btn btn-primary">Desc</button>
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SOrders)
        {
            <tr>
                <td>@Html.DisplayFor(i => item.Date)</td>
                <td>@Html.DisplayFor(i => item.OrderId)</td>
                <td>@Html.DisplayFor(i => item.TotalPrice)</td>
            </tr>
        }
    </tbody>
</table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StoreNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>



