@model IEnumerable<Models.Storefront>

@{
    ViewData["Title"] = "All Storefronts";
}

<h1>All Storefronts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-hover table-responsive">
    <caption>All Stores</caption>
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.StoreName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.StoreAddress)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StoreNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StoreNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StoreNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
