@model IEnumerable<Models.Inventory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <caption>Corporate Inventory</caption>
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.StoreNumberNavigation.StoreName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Prod.ProdName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoreNumberNavigation.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prod.ProdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InvId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InvId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InvId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
